<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hasantarek.insertdata_32" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Addcontactactivity"
            android:label="@string/title_activity_addcontactactivity" >
            <intent-filter>
                <action android:name="android.intent.action.Default" />

                <category android:name="com.example.hasantarek.insertdata_32.Addcontactactivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Datalistactivity"
            android:label="@string/title_activity_datalistactivity" >
        </activity>
        <activity
            android:name=".Searchactivity"
            android:label="@string/title_activity_searchactivity" >
        </activity>
        <activity
            android:name=".Updateactivity"
            android:label="@string/title_activity_updateactivity" >
        </activity>
    </application>

</manifest>
